<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.mayo.cts2.framework.plugin.service.nlm.database.dao.UmlsDao">

	<select id="getSabs" 
	resultType="edu.mayo.cts2.framework.plugin.service.nlm.umls.dao.SabResult">
		 SELECT 
		 	mrsab.RSAB as rsab, 
		 	mrsab.VSAB as vsab,
		 	mrsab.RCUI as rcui, 
		 	mrsab.VCUI as vcui
         FROM MRSAB mrsab
         WHERE
         	mrsab.CURVER = 'Y'
	</select>
	
	
	<select id="getMrsabRows" 
	resultType="java.util.HashMap">
		 SELECT *
         	FROM MRSAB
	</select>
	
	<select id="getStrFromCode" resultType="java.lang.String">
		SELECT mrconso.STR 
		FROM MRCONSO mrconso
		INNER JOIN MRRANK mrrank 
			ON ( mrconso.SAB = mrrank.SAB and mrconso.TTY = mrrank.TTY )
		WHERE
			mrconso.CODE = #{code}  and mrconso.SAB = #{sab}
		ORDER BY mrrank.rank 
		LIMIT 1
	</select>
	
	<select id="getStrFromScui" resultType="java.lang.String">
		SELECT mrconso.STR 
		FROM MRCONSO mrconso
		INNER JOIN MRRANK mrrank 
			ON ( mrconso.SAB = mrrank.SAB and mrconso.TTY = mrrank.TTY )
		WHERE
			mrconso.SCUI = #{scui}  and mrconso.SAB = #{sab}
		ORDER BY mrrank.rank 
		LIMIT 1
	</select>

</mapper>